body {
    background-color: #faf8f5;
}

nav.navbar {
    background-color: #2c5530;
    color: #ffffff;
}

.hero-section {
    background-color: #1e6b5c;
    color: #ffffff;
}

.auth-form {
    background-color: #ffffff;
    color: #4a4a4a;
}

input {
    color: #333333;
}

.bg-sage-light {
    background-color: #F4F6F0;
}
.text-forest {
    color: #34495E;
}
.recipe-card {
    box-shadow: 5px 8px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}
.recipe-card:hover {
    transform: translateY(-2px);
}

.fixed-img {
    width: 350px;
    height: 200px;
    object-fit: fill;
}

.recipe-details p{
   white-space: pre-wrap;

}



